/* 
 *************************************
 * <!-- APP1 -->
 *************************************
 */

#root {
	
	/* this is a description. */
	
    &::before {
        background: #529606;
        font-size: 1.2rem;
		display: block;
	}
	
    &::after {
        background: #f00;
		font-size: 1.2rem; 
		display: block;
    }
}
